html{
    background-color: black;
}
img{
    border:5px solid white;
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 3.5rem;
    padding:20px 1rem;
    border: 0 solid white;
    font-family:'Libre Baserville', serif;
    margin: 0;
}

p{
    color:white;
    font-size: 1em;
    padding-left: 12%;
    margin: 0;
}
div{
    margin-left: 25%;
    margin-top: 100px;
    width: 100%;
}